.App {
  margin: 0 auto;
  text-align: center;
  max-width: 1024px;
}

.gameModeSelectionContainer {
  margin: 0 auto;
  width: 400px;
}
.multipPlayerGameContainer{
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
}

.singlePlayerGame{
  margin-top: 50px;
}
.attempt-success {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 19px;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  max-width: 400px;;
}
.attempt {
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
  max-width: 400px;;
}